.svg-snowscene {
    width: 100%;
  }
  .snow {
    color:white;
    animation-name: snowing;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear ;
   
  }
   
  
  @keyframes snowing {
    0%{ fill-opacity: 1; }
    100% { 
      fill-opacity: 1;
      transform: translateY(200px);
    }
  }
  
  